@{Layout = "_Layout";}

@using SocialDemo.ViewModels

@model LoginViewModel

<h2>Log in with your account</h2>
<hr>
@using(Html.BeginForm())
{
  @Html.LabelFor(model => model.Email)
  @Html.TextBoxFor(model => model.Email)

  @Html.LabelFor(model => model.Password)
  @Html.PasswordFor(model => model.Password)

  <input type="submit" value="Log in" class="btn btn-default">
}